﻿<script type="text/html" id="single-user-template">
    <tr>
        <td data-bind="text: Username"></td>
        <td class="options-td aligncenter">
            <span class="action-icon confirm-account-action" 
                  data-bind="click: $parent.openApproveModal.bind($parent,$data) ">
                <i class="fas fa-check"></i>
            </span>
            <span class="action-icon reject-account-action"
                 data-bind="click: $parent.openConfirmModal.bind($parent, 'RejectUserTitle',
                  'RejectUserQuestion', $parent.rejectUser.bind($parent, $data),
                  Username())">
                <i class="fas fa-times"></i>
            </span>
        </td>
    </tr>
</script>