﻿<script type="text/html" id="admin-panel-template">
    <div id="admin-panel-root">
        <!-- ko template: {name: 'search-template'}-->
        <!-- /ko -->
        <div class="row information-row">
            <div class="col-lg-12">
                <a class="action-icon back-action" href="/DocumentSystem">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                <h3 data-bind="text: App.Service.locResources['PendingConfirmations']"></h3>
            </div>
        </div>
        <table class="table table-hover documents-table">
            <thead>
                <tr>
                    <th class="sort-th sort-field" data-bind="click: sortToggle">
                        <span data-bind="text: App.Service.locResources['Username']"></span>
                        <!--ko if: searchQuery().SortProperty() === 'Username' -->
                        <i class="fas fa-long-arrow-alt-up" data-bind="visible: searchQuery().IsAscending() === true"></i>
                        <i class="fas fa-long-arrow-alt-down" data-bind="visible: searchQuery().IsAscending() === false"></i>
                        <!-- /ko -->
                    </th>
                    <th class="aligncenter" data-bind="text: App.Service.locResources['ActionsLabel']"></th>

                </tr>
            </thead>
            <tbody data-bind="template: {name: 'single-user-template', foreach: unconfirmedUsers}"></tbody>
        </table>
        <div class="row">
            <!--ko if: maxPageNumber() > 1 -->
            <div class="col-lg-12 pagination-wrapper">
                <nav>
                    <ul class="pagination">
                        <li class="page-item" data-bind="css: { 'disabled': $data.searchQuery().PageNumber() == 1 }">
                            <a class="page-link" href="#" tabindex="-1"
                               data-bind="click: getPrevPage, text: App.Service.locResources['PreviousPageLabel']">
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#" data-bind="text: $data.searchQuery().PageNumber()"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item" data-bind="css: { 'disabled': $data.searchQuery().PageNumber() == maxPageNumber() }">
                            <a class="page-link" href="#"
                               data-bind="click: getNextPage, text: App.Service.locResources['NextPageLabel']">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /ko -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <select class="form-control pageElSelect"
                        data-bind="options: App.Config.pageElementsAvailableOptions,
                                   value: searchQuery().ElementsPerPage"></select>

                <label class="elPerPageLabel" data-bind="text: App.Service.locResources['ElPerPage']"></label>
            </div>
        </div>
    </div>
    <!-- ko template: {name: 'approve-user-modal-template'}-->
    <!-- /ko -->
    <!-- ko template: {name: 'confirm-modal-template'}-->
    <!-- /ko -->
</script>

@Html.Partial("Templates/Entries/_SingleUser")
@Html.Partial("Templates/Modals/_ApproveUser")