﻿<script type="text/html" id="app-template">
    <div class="row" id="app-root" data-bind="initComponent">
        <div class="col-lg-12">
            <!--ko with: currentActionVm-->
            <!-- ko template: {name: 'search-template'}-->
            <!-- /ko -->
            <!-- ko template: {name: getTemplateName() }--><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>

    <!-- ko template: {name: 'confirm-modal-template'}-->
    <!-- /ko -->
</script>

@Html.Partial("Templates/Alerts/_GeneralErrorAlert")
@Html.Partial("_FileCabinets")
@Html.Partial("_Documents")