﻿<script type="text/html" id="file-cabinets-template">
    <div id="file-cabinets-root" data-bind="initComponent">
        <div class="row information-row">
            <div class="col-lg-12">
                <h3 class="fc-heading" data-bind="click: sortByProperty.bind($data, 'Name')">
                    <span data-bind="text: App.Service.locResources['FcLabel']"></span>
                    <i class="fas fa-long-arrow-alt-up" data-bind="visible: searchQuery().IsAscending() === true"></i>
                    <i class="fas fa-long-arrow-alt-down" data-bind="visible: searchQuery().IsAscending() === false"></i>
                </h3>
                <!-- ko if: shouldBeActive() -->
                <span data-toggle="modal" data-target="#file-cabinet-modal" class="add-action action-icon"
                      data-bind="click: openFcModal.bind($data, null)">
                    <i class="fas fa-plus-square" data-toggle="tooltip" data-placement="top"
                       data-bind="attr: {'data-original-title': App.Service.locResources['AddFileCabinetTitle']}"></i>
                </span>
                <!-- /ko -->

            </div>
        </div>
        <div class="row">
            <!--ko if: fileCabinets().length > 0 -->
            <table class="table table-hover">
                <thead>
                </thead>
                <tbody data-bind="template: {name: 'single-file-cabinet-template', foreach: fileCabinets}"></tbody>
            </table>
            <!-- /ko -->
            <!--ko ifnot: fileCabinets().length > 0 -->
            <div class="col-lg-12">
                <h4 class="no-files" data-bind="text: App.Service.locResources['NoFileCabinets']"></h4>
            </div>
            <!-- /ko -->
        </div>

        <div class="row">
            <!--ko if: maxPageNumber() > 1 -->
            <div class="col-lg-12 pagination-wrapper">
                <nav>
                    <ul class="pagination">
                        <li class="page-item" data-bind="css: { 'disabled': $data.searchQuery().PageNumber() == 1 }">
                            <a class="page-link" href="#" tabindex="-1"
                               data-bind="click: getPrevPage, text: App.Service.locResources['PreviousPageLabel']">
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#" data-bind="text: $data.searchQuery().PageNumber()"><span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item" data-bind="css: { 'disabled': $data.searchQuery().PageNumber() == maxPageNumber() }">
                            <a class="page-link" href="#"
                               data-bind="click: getNextPage, text: App.Service.locResources['NextPageLabel']">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /ko -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- ko if: shouldBeActive() -->
                <button type="button" class="btn show-archive-button"
                        data-bind="click: $parent.openArchive.bind($parent),
                                   text: App.Service.locResources['ShowArchiveBtnLabel']"></button>
                <!-- /ko -->
                <!-- ko if: isAdmin()  -->
                <button type="button" class="btn btn-danger"
                        data-bind="click: $parent.openTrash.bind($parent),
                                   text: App.Service.locResources['ShowDeletedBtnLabel']"></button>
                <!-- /ko -->
                <select class="form-control pageElSelect"
                        data-bind="options: App.Config.pageElementsAvailableOptions,
                                   value: searchQuery().ElementsPerPage"></select>

                <label class="elPerPageLabel" data-bind="text: App.Service.locResources['ElPerPage']"></label>
            </div>
        </div>

        <!--ko with: $data-->
        <!-- ko template: {name: 'file-cabinet-template' }-->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</script>

@Html.Partial("Templates/Entries/_SingleFileCabinet")
@Html.Partial("Templates/Modals/_FileCabinetModal")