﻿<script type="text/html" id="login-template">
    <div class="row" id="login-root">
        <div class="col-lg-6 offset-lg-3">

            <form class="login-form" data-bind="submit: login">
                <div class="form-group">
                    <label for="Username" data-bind="text: App.Service.locResources['UsernameLabel']">  </label>
                    <input type="text" id="Username" name="Username" data-bind="value: loggedUser.Username"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="Password" data-bind="text: App.Service.locResources['PasswordLabel']"></label>
                    <input type="password" id="Password" name="Password" data-bind="value: loggedUser.Password"
                           class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary" 
                        data-bind="text: App.Service.locResources['LoginBtn']"></button>
                
                <p class="register-paragraph" data-bind="visible: $parent instanceof Vms.RootVm">
                    <span data-bind="text: App.Service.locResources['NoAccountQuestion']"></span>
                    <a href="#" data-bind="click: goToRegistration, text: App.Service.locResources['RegisterHere']"></a>
                </p>
                <!--ko template: {name: 'form-error-template'}-->
                <!-- /ko -->
            </form>
        </div>
    </div>
</script>
