﻿<script type="text/html" id="register-template">
    <div class="row" id="register-root">
        <div class="col-lg-6 offset-lg-3">
            <form class="login-form" method="post" data-bind="submit: register">
                <div class="form-group">
                    <label for="Username" data-bind="text: App.Service.locResources['UsernameLabel']">  </label>
                    <input type="text" id="Username" name="Username" data-bind="value: registeringUser().Username"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="Password" data-bind="text: App.Service.locResources['PasswordLabel']"></label>
                    <input type="password" id="Password" name="Password" data-bind="value: registeringUser().Password"
                           class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="Password" data-bind="text: App.Service.locResources['ConfirmPasswordLabel']"></label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" data-bind="value: confirmPassword"
                           class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary"
                        data-bind="text: App.Service.locResources['RegisterLabel']"></button>
                <!--ko template: {name: 'form-error-template'}-->
                <!-- /ko -->
            </form>
        </div>
        <!--ko if: successfulRegistration -->
        <div class="col-lg-8 offset-lg-2 successful-register-message">
            <h3>User successfully registered! Awaiting confirmation from admin!</h3>
        </div>
        <!-- /ko-->
    </div>
</script>
