﻿@{
    ViewBag.Title = "App";
}
@using WebApp.Common;

<div id="root">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/DocumentSystem/" data-bind="text: App.Service.locResources['HomeLabel']"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("English", "Change", "Language", new { lang = "en" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Български", "Change", "Language", new { lang = "bg" }, new { @class = "nav-link" })
                    </li>
                    <!--ko if: App.Service.currentUser() -->
                    <li class="nav-item" data-bind="click: logout">
                        <a href="#" class="nav-link" data-bind="text: App.Service.locResources['LogoutLabel']"></a>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!--ko with: currentActionVm-->
        <!--ko template: {name: getTemplateName() }--><!-- /ko -->
        <!-- /ko -->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Document System</p>
        </footer>
    </div>
</div>


@Html.Partial("_Login")
@Html.Partial("_Register")
@Html.Partial("Templates/Modals/_ConfirmModal")
@Html.Partial("Templates/Alerts/_FormErrorAlert")
@Html.Partial("Templates/Other/_Search")

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @if (ViewBag.Mode == AppMode.Application)
    {
        @Scripts.Render("~/Scripts/init/AppInit.js")
        @Html.Partial("_Application")

    }
    @if (ViewBag.Mode == AppMode.AdminPanel)
    {
        @Scripts.Render("~/Scripts/init/AdminInit.js")
        @Html.Partial("_AdminPanel")

    }
    @Scripts.Render("~/bundles/src")
}