﻿<script type="text/html" id="approve-user-modal-template">
    <div class="modal fade" id="approve-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" data-bind="text: App.Service.locResources['ApproveUserTitle']"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form data-bind="submit: approveUser">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="userType" data-bind="text: App.Service.locResources['TypeLabel']"></label>
                            <select name="userType" class="form-control" data-bind="value: approvedUserType">
                                <option value="Regular" data-bind="text: App.Service.locResources['Regular']" ></option>
                                <option value="Guest" data-bind="text: App.Service.locResources['Guest']" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                data-bind="text: App.Service.locResources['CancelLabel']"></button>
                        <button type="submit" class="btn btn-primary" id="submit"
                                data-bind="text: App.Service.locResources['Approve']"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</script>
