﻿<script type="text/html" id="file-cabinet-template">
    <div class="modal fade" id="file-cabinet-modal" tabindex="-1"  role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"
                        data-bind="text: isEdit() 
                                        ? App.Service.locResources['EditFcTitle']
                                        : App.Service.locResources['AddFileCabinetTitle']">
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form data-bind="submit: isEdit() ? updateFileCabinet : addFileCabinet">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Name"
                                   data-bind="value: fcModalData().Name, 
                                              attr: {placeholder: App.Service.locResources['FcPlaceholder']}" required />
                        </div>
                        <!-- ko template: {name: 'form-error-template'}-->
                        <!-- /ko -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                data-bind="text: App.Service.locResources['CancelLabel']"></button>
                        <button type="submit" class="btn btn-primary" id="submit"
                                data-bind="text: App.Service.locResources['SaveBtnLabel']"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
