﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document system</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="/UsersService/WcfServiceHost.svc/js"></script>
    <script src="/FileCabinetsService/WcfServiceHost.svc/js"></script>
    <script src="/RolesService/WcfServiceHost.svc/js"></script>
    <script src="/DocumentTypesService/WcfServiceHost.svc/js"></script>
    <script src="/DocumentsService/WcfServiceHost.svc/js"></script>
    <script src="/AuthenticationService/WcfServiceHost.svc/js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
