﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/
html {
    font-size: 14px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
.login-form {
    padding: 50px;
    padding-bottom: 20px;
}
.navbar {
    background-color: #204d74;
}
.navbar a {
    color: white;
}
.error-field {
    color: red;
}
#app-root, #admin-panel-root {
    padding-top: 50px;
}
.aligncenter {
    text-align: center;
}
.nav-link:hover {
    background-color: white;
    color: #204d74;
    transition: 0.2s ease;
}
.information-row h3 {
    margin-top: 5px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 8px;
}
.information-row {
    border-bottom: 2px solid #204d74;
    padding-bottom: 5px;
}
.table-hover {
    border-bottom: 1px solid #ddd;
}
.table-hover tr:first-child td {
    border-top: none;
}
.table-hover td {
    vertical-align: middle !important;
}
.table-hover > tbody > tr:hover {
    background-color: #e3f4fc;
}
.table > thead > tr > th {
    border-bottom: 1px solid #66baff;
}
.action-icon {
    cursor: pointer;
    font-size: 2rem;
    transition: 0.1s;
}
.add-action, .copy-action {
    color: #204d74;
}
.add-action:hover, .copy-action:hover {
    color: #008cff;
}
.delete-action {
    color: #d9534f;
}
.delete-action:hover {
    color: #f96b6b;
}
.information-row .general-actions .action-icon {
    float: right;
    margin-left: 15px;
}
.options-td .action-icon {
    font-size: 1.5rem;
    margin-left: 20px;
}
.f-right {
    float: right;
}
.archive-action {
    color: #42c0fb;
}
.archive-action:hover {
    color: #204d74;
}
.download-action {
    color: green;
}
.download-action:hover {
    color: darkgreen;
}
.export-action {
    color: brown;
}
.export-action:hover {
    color: maroon;
}
.edit-action {
    color: #eac300;
}
.edit-action:hover {
    color: gold;
}
#file-cabinets-root .options-td {
    width: 10%;
}
.back-action {
    margin-right: 10px;
    color: cornflowerblue;
}
.back-action:hover {
    color: #204d74;
}
.show-archive-button {
    margin-right: 10px;
    background-color: #42c0fb;
    color: white;
    transition: 0.1s ease;
}
.show-archive-button:hover {
    color: white;
    background-color: #204d74;
}
.show-deleted-button {
    background-color: #d9534f;
    color: white;
    transition: 0.1s ease;
}
.show-deleted-button:hover {
    background-color: #f96b6b;
    color: white;
}
textarea {
    resize: none;
}
.download-action a:hover {
  text-decoration: none;
}
#view-document-modal .modal-dialog {
    max-width: none;
    width: 1000px;
}
.file-preview .file-preview-placeholder {
    width: 100%;
    height: 100%;
}
.document-data-row {
    display: flex;
}
.file-preview {
    align-items: stretch;
}
.action-icon.restore-action {
    margin-left: 0;
    color: forestgreen;
}
.restore-action:hover {
    color: darkgreen;
}
.name-table-data:hover {
    color: #204d74;
    cursor: pointer;
    text-decoration: underline;
}
.selection-controls button {
    margin-right: 10px;
}
.custom-file-label {
    margin: 0 auto;
    margin-top: 1rem;
    width: 95%;
}
.file-preview {
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-preview {
    text-align: center;
}
.pagination {
    margin: 10px 0;
    justify-content: center;
}
.alert {
    display: none;
}
.required-field {
    color: red;
    font-size: 1.2rem;
}
.general-error-alert {
    margin-top: 10px;
}
.search-section {
    margin-bottom: 15px;
}
.top-hr {
    margin-bottom: 20px;
}
.nopadding {
    padding-left: 0;
    padding-right: 0;
}
.form-control-borderless {
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.search-section .card-body {
    padding: 0;
    padding-right: 1rem;
}
.search-section input, .search-section select {
    font-size: 1.1rem;
}
.search-section .not-round {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-section .select-field {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    color: black;
}
.no-files {
    text-align: center;
    margin-top: 20px;
    color: #204d74;
}
.documents-table .sort-th:hover {
    cursor: pointer;
    text-decoration: underline;
}
.sort-field {
    color: cornflowerblue;
}
.fc-heading:hover {
    text-decoration: underline;
    cursor: pointer;
}
.fc-heading i {
    font-size: 1.7rem;
}
.elPerPageLabel {
    margin-right: 15px;
    font-size: 1.1rem;
    float: right;
    line-height: 2.4rem;
}
.pageElSelect {
    float: right;
    display: inline-block;
    width: auto;
}
.progress {
    display: none;
}
.upload-file-progress {
    height: 100%;
}
.information-row .import-action {
    margin-left: 5px;
}
.import-action {
    color: #18c20a;
}
.import-action:hover {
    color: darkgreen;
}
.documents-table thead th {
    vertical-align: middle;
}
.tooltip .tooltip-inner {
    background: #204d74;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #204d74;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #204d74;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #204d74;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #204d74; 
}
.login-form button {
    margin-bottom: 1rem;
}
.register-paragraph {
    text-align: right;
}
.successful-register-message {
    color: #204d74;
    margin-bottom: 15px;
}
.confirm-account-action {
    color: forestgreen;
}
.confirm-account-action:hover {
    color: darkgreen;
}
.reject-account-action {
    color: red;
}

.reject-account-action:hover {
    color: #9e000d;
}